* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #121010;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.form-container {
    background-color: #edefe4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #da8d8d;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    resize: vertical;
    height: 100px;
}

button.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.submit-btn:hover {
    background-color: #294e2b;
}

span.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

.form-message {
    margin-top: 10px;
    display: none;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

.show {
    display: block;
}

.fade-in {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}